---
import Layout from '../layouts/Layout.astro';
import AdviceGenerator from '../components/AdviceGenerator.astro';
---

<Layout title="Advice Generator">
	<main class="min-h-screen flex items-center justify-center">
		<AdviceGenerator />
	</main>
</Layout>

